/*-------------------------------------------------
    Featured Swiper.js Customization here
-------------------------------------------------*/
.featured-card-swiper {
  width: 70%;
  margin: 0;
  margin-right: 15px;
}

@media (max-width: 912px) {
  .featured-card-swiper {
    width: 100%;
  }
}
